<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mo's Mutt House: View/Edit Dog</title>

    <!-- Custom fonts for this template-->
    <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../static/content/sb-admin-2.min.css" rel="stylesheet">

    <!--  Bootstrap style for Datatables-->
    <link href="../static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="../static/vendor/DatePicker/css/bootstrap-datepicker3.min.css" rel="stylesheet">
    <link href="../static/vendor/Selectpicker/css/bootstrap-select.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url_for('home') }}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-dog"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Mo's Mutt House</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home') }}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dog Dashboard</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-dog"></i>
                    <span>Dog</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Dog Utilities:</h6>
                        {% if availableSpaces <= 0 %}
                        <button type="button" class="collapse-item btn btn-link" disabled>Add Dog <span class="badge badge-pill badge-danger">No Spaces Left</span></button>
                        {% else %}
                        <a class="collapse-item" href="{{ url_for('addDog') }}">Add Dog <span class="badge badge-pill badge-success">Spaces Available</span></a>
                        {% endif %}
                        <button type="button" id="viewExpenses" data-toggle="modal" data-target="#dogExpenses" class="collapse-item btn btn-link">View Expenses</button>
                        {% if dogDetails[13] == 0 %}
                        <a class="collapse-item" href="{{ url_for('addExpenses') }}?dogId={{ dogDetails[0] }}&dogName={{dogDetails[1]}}">Add Expenses</a>
                        {% if dogDetails[12] == 1 and isAdmin == 1 %}
                        <a class="collapse-item" href="{{ url_for('addAdoption') }}?dogId={{ dogDetails[0] }}&dogName={{dogDetails[1]}}">Add Adoption</a>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities1" aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-edit"></i>
                    <span>Applications</span>
                </a>
                <div id="collapseUtilities1" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Application Utilities:</h6>
                        <a class="collapse-item" href="{{ url_for('addAdoptionApplication') }}">Add Adoptiion Application</a>
                        {% if isAdmin == 1 %}<a class="collapse-item" href="{{ url_for('viewAdoptionApplication') }}">Application Review</a>{% endif %}
                    </div>
                </div>
            </li>

            <!-- Divider -->
            {% if isAdmin == 1 %}
            <hr class="sidebar-divider">


            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities2" aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-chart-bar"></i>
                    <span>Reports</span>
                </a>
                <div id="collapseUtilities2" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Report Utilities:</h6>
                        <a class="collapse-item" href="{{ url_for('viewAnimalControlReport') }}">Animal Control Report</a>
                        <a class="collapse-item" href="{{ url_for('viewMonthlyAdoptionReport') }}">Monthly Adoption Report</a>
                        <a class="collapse-item" href="{{ url_for('viewExpenseAnalysisReport') }}">Expense Analysis</a>
                        <a class="collapse-item" href="{{ url_for('viewVolunteerLookupReport') }}">Voulunteer Lookup</a>
                    </div>
                </div>
            </li>
            {% endif %}

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Alerts -->
                        {% if isAdmin == 1 %}
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                {% if pendingRevsNum > 0 %}
                                <span class="badge badge-danger badge-counter">{{pendingRevsNum}}</span>
                                {% endif %}
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Pending Applications Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        {% if pendingRevsNum <= 0 %}
                                        <div class="small text-gray-500">No Pending Documents</div>
                                        <span class="font-weight-bold">There are no pending applications to review!</span>
                                        {% else %}
                                        <div class="small text-gray-500">Pending Documents</div>
                                        <span class="font-weight-bold">There are {{pendingRevsNum}} pending applications to review!</span>
                                        {% endif %}
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="{{ url_for('viewAdoptionApplication') }}">Go To Review Center</a>
                            </div>
                        </li>
                        {% endif %}


                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ fullname }}</span>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="modal fade" id="added" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Successful Dog Details Update <i class="fas fa-check-circle"></i></h5>
                                </div>
                                <div class="modal-body" id="addedBody">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success clickRefresh">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="error" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel2">Client Side Error <i class="fas fa-times"></i></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" id="addedBodyError">
                                    Please make sure all of the required fields have been populated
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Page Heading -->
                    <form class="well form-horizontal" id="editDogForm">
                        <fieldset>
                            <!-- Text input-->
                            <!-- Form Name -->
                            <legend><center><h2><b>Dog Detail Form</b></h2></center></legend><br>
                            <input name="username" type="text" value="{{ username }}" required hidden />
                            <input id="dogId" name="dogId" type="text" value="{{ dogDetails[0] }}" required hidden />
                            <div class="form-group">
                                <label class="col-md-6 control-label"><span class="badge badge-warning">FOR RECORD KEEPING PURPOSES:</span> Dog Identification Number</label>
                                <div class="col-md-2 inputGroupContainer">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-primary" type="button" disabled>
                                                <i class="fas fa-hashtag fa-sm"></i>
                                            </button>
                                        </div>
                                        <input type="text" class="form-control" value="{{dogDetails[0]}}" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6 control-label"><span class="badge badge-warning">FOR RECORD KEEPING PURPOSES:</span> Volunteer Email</label>
                                <div class="col-md-6 inputGroupContainer">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-primary" type="button" disabled>
                                                <i class="fas fa-user fa-sm"></i>
                                            </button>
                                        </div>
                                        <input type="text" class="form-control" value="{{dogDetails[11]}}" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Surrender Date</label>
                                <div class="col-md-4 inputGroupContainer">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-primary" type="button" disabled>
                                                <i class="fas fa-calendar fa-sm"></i>
                                            </button>
                                        </div>
                                        <input type="text" class="form-control" value="{{dogDetails[7]}}" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Did Animal Control Surrender?</label>
                                <div class="col-md-4 selectContainer">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-primary" type="button" disabled>
                                                <i class="fas fa-address-card fa-sm"></i>
                                            </button>
                                        </div>
                                        {% if dogDetails[10] == 1 %}
                                        <input type="text" class="form-control" value="True" readonly>
                                        {% else %}
                                        <input type="text" class="form-control" value="False" readonly>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Surrender Reason</label>
                                <div class="col-md-6 inputGroupContainer">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-primary" type="button" disabled>
                                                <i class="fas fa-address-card fa-sm"></i>
                                            </button>
                                        </div>
                                        <textarea maxlength=250 class="form-control" rows="5" readonly>{{dogDetails[8]}}</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Name</label>
                                <div class="col-md-6 inputGroupContainer">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-primary" type="button" disabled>
                                                <i class="fas fa-user fa-sm"></i>
                                            </button>
                                        </div>
                                        <input id="dogName" type="text" class="form-control" value="{{dogDetails[1]}}" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Date of Birth</label>
                                <div class="col-md-4 inputGroupContainer">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-primary" type="button" disabled>
                                                <i class="fas fa-calendar fa-sm"></i>
                                            </button>
                                        </div>
                                        <input type="text" class="form-control" value="{{dogDetails[6]}}" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Dog Age</label>
                                <div class="col-md-4 inputGroupContainer">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-primary" type="button" disabled>
                                                <i class="fas fa-calendar fa-sm"></i>
                                            </button>
                                        </div>
                                        <input type="text" class="form-control" value="{{dogDetails[9]}} Months Old" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Sex</label>
                                <div class="col-md-4 selectContainer">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-primary" type="button" disabled>
                                                <i class="fas fa-address-card fa-sm"></i>
                                            </button>
                                        </div>
                                        {% if dogDetails[2] == 'Unknown' %}
                                        <select name="sex" class="form-control readOnlyFields">
                                            <option value="Unknown">Unknown</option>
                                            <option value="Female">Female</option>
                                            <option value="Male">Male</option>
                                        </select>
                                        {% else %}
                                        <input type="text" class="form-control" value="{{dogDetails[2]}}" readonly>
                                        <input type="text" name="sex" class="form-control" value="{{dogDetails[2]}}" hidden>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">Alteration Status</label>
                                <div class="col-md-4 selectContainer">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-primary" type="button" disabled>
                                                <i class="fas fa-address-card fa-sm"></i>
                                            </button>
                                        </div>
                                        {% if dogDetails[3] == 0 %}
                                        <select name="alteration_status" class="form-control readOnlyFields">
                                            <option value="false">False</option>
                                            <option value="true">True</option>
                                        </select>
                                        {% else %}
                                        <input type="text" class="form-control" value="True" readonly>
                                        <input type="text" name="alteration_status" class="form-control" value="true" hidden>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <!-- Text input-->

                            <div class="form-group">
                                <label class="col-md-4 control-label">Microchip ID</label>
                                <div class="col-md-6 inputGroupContainer">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-primary" type="button" disabled>
                                                <i class="fas fa-user fa-sm"></i>
                                            </button>
                                        </div>
                                        {% if dogDetails[4] == None %}
                                        <input id="MicropChipId" name="microchip" placeholder="Microchip ID" class="form-control readOnlyFields" type="text">
                                        {% else %}
                                        <input type="text" class="form-control" value="{{dogDetails[4]}}" readonly>
                                        <input type="text" name="microchip" class="form-control" value="" hidden>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% if (dogDetails[5] == 'Mixed' or dogDetails[5] == 'Unknown' ) and dogDetails[13] == 0 %}
                            <div class="form-check">
                                <input class="form-check-input breedCheck" type="radio" name="unknownBreed" id="breedKnown" value="off" checked>
                                <label class="form-check-label" for="exampleRadios1">
                                    Breed is known
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input breedCheck" type="radio" name="unknownBreed" id="breedUnknown" value="Unknown">
                                <label class="form-check-label" for="exampleRadios2">
                                    Breed is still Unknown / Mixed
                                </label>
                            </div>
                            <br />
                            <!-- Text input-->
                            <input type="text" id="breedInputCheck" class="form-control" hidden required>
                            <div class="form-group">
                                <label class="col-md-6 control-label">Breed</label>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <select id="breed" name="breed" data-live-search="true" data-selected-text-format="count > 1" multiple required
                                            <option value="">Choose Breed(s)</option>
                                            {% for breedname in breednames %}
                                            {% if breedname[0] != 'Mixed' and  breedname[0] != 'Unknown' %}
                                            <option value="{{ breedname [0] }}">{{ breedname [0]}}</option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            <div class="form-group">
                                <label class="col-md-6 control-label">Breed</label>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <textarea class="form-control" rows="5" readonly>{{dogDetails[5]}}</textarea>
                                        <input type="text" name="unknownBreed" class="form-control" value="HasBreed" hidden>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <!-- Text input-->

                            <div class="form-group">
                                <label class="col-md-4 control-label">Description</label>
                                <div class="col-md-6 inputGroupContainer">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-primary" type="button" disabled>
                                                <i class="fas fa-address-card fa-sm"></i>
                                            </button>
                                        </div>
                                        <textarea maxlength=250 class="form-control" rows="5" readonly>{{dogDetails[14]}}</textarea>
                                    </div>
                                </div>
                            </div>

                            <!-- Button -->
                            {% if dogDetails[13] == 0 and (dogDetails[12] == 0 or (dogDetails[5] == 'Mixed' or dogDetails[5] == 'Unknown' )) %}
                            <div class="form-group">
                                <label class="col-md-4 control-label"></label>
                                <div class="col-md-4">
                                    <br>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button id="editDog" type="button" class="btn btn-warning">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSUBMIT <span class="fas fa-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
                                </div>
                            </div>
                            {% endif %}
                        </fieldset>
                    </form>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Mo's Mutt House</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{{ url_for('logout') }}">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="dogExpenses" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"> {{dogDetails[1]}}'s Expenses  <span class="badge badge-pill badge-primary">Total Expenses: ${{totalExpense}}</span></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="getDogExpensesTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Date</th>
                                    <th>Vendor</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th>Date</th>
                                    <th>Vendor</th>
                                    <th>Amount</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../static/scripts/sb-admin-2.min.js"></script>
    <!-- Page level plugins -->
    <script src="../static/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="../static/scripts/FunctionsList.js"></script>
    <script src="../static/scripts/AllTableStructs.js"></script>
    <script src="../static/vendor/Datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="../static/vendor/Selectpicker/js/bootstrap-select.min.js"></script>

</body>

</html>
